
*{
    margin: 0;
}
@font-face{
    font-family: font1;
    src:url(1.ttf.woff2)
}
@font-face{
    font-family: font2;
    src:url(2.ttf.woff2)
}
@font-face{
    font-family: font3;
    src:url(3.ttf.woff2)
}
@font-face{
    font-family: font4;
    src:url(4.ttf.woff2)
}
@font-face{
    font-family: font5;
    src:url(5.ttf.woff2)
}
.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1500px;

}
.logo{
    margin-left: -130px;
}

.header{
    display: flex;
    align-items: center;
    background-color: black;
    gap: 300px;
    width: 100%;
    height: 90px;
    padding-left: 400px;
    position: fixed;
    
}

.leftnav{
    color: rgb(255, 255, 255);
    font-family: font2;
    text-decoration: none;
    background-color: black;
    font-size: 1.7rem;
    font-weight: bolder;
    line-height: .5px;
    width: 30px;
    margin-left: 55px;
 }


.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-family: font2;
}

  .centerdown {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: font5;
  }
.our{
    font-size: 75px;
    padding-left: 860px;
    padding-top: 60px;
    font-family: font2;
    
}
.imgfont1{
    font-family: font3;
    font-size: 40px;
    font-weight: 100;
    margin-left: 50px;
    color: gray;
    margin-top: 20px;

}
.imgfont2{
    font-family: font3;
    font-size: 40px;
    font-weight: 100;
    margin-left: 60px;
    color: gray;
    margin-top: 20px;

}
.imgfont{
    margin-top: 20px;
    font-family: font3;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: gray;
}
.img1{
    border-radius: 8px;
    margin-left: 250px;
    margin-top: 90px;
    float: left;
}

.img2{
    margin-top: 90px;
    margin-left: 860px;
    text-align: center;
}
.img3{
    border-radius: 8px;
    margin-left: 250px;
    margin-top: 90px;

}
.img4{
    border-radius: 30px;
    margin-top: -475px;
    margin-left: 1170px;
  }

.lion{
    width: 585px;
    height: 607px;
    float: right;
    margin-top: -920px;
    margin-right: 200px; 
}


.text {
    font-family: font2;
    margin-top: 200px;
    margin-bottom: 15px;
    font-size: 30px;
    width: 650px;
    line-height: 30px;
    padding-left: 273px;
    padding-top: 21px;
  }
.text2{
    font-family: font5;
    font-size: 25px;
}
cont-img {
    float: left;
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  element {
    padding-top: 400px;
    padding-left: 200px;
  }
.monkey{
    margin-left: 105px;
    width: 750px;
    height: 750px;
}
.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 1250px;
    line-height: 80px;
    float: left;
    margin-top: 115px;
}

.career{
    font-size: 70px;
    font-weight: bold;
    font-family: font4;
    padding-left: 1030px;
    margin-top: 100px;
}
.come{
    padding-left: 1030px;
    font-size: 27px;
    color: white;
    font-family: font3;
}
.careerbtn{
    margin-left: 1030px;
    background-color: white;
    background-size: 10px;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    font-family: font5;
    width: 175px;
    color: #9c9999; 
    border-radius: 10px;
}
 .playstor{
    margin-top: -20px;
    margin-left: 30px;
    height: 80px;
    width: 250px;
    position: absolute;
    border-style: solid;
    border-width: .5px;
    border-radius: 10px;
 }
 .appstor{
    margin-left: 1210px;
    margin-top:-20px;
    height: 80px;
    width: 250px;
    border-style: solid;
    border-width: .5px;
    border-radius: 10px;
 }
.links{
    font-family: font3;
    margin-top: 300px;
    margin-left: 248px;
    font-size: 21px;
}
.icon{
    font-size: 35px;
    display: inline-flex;
    margin-left: -1220px;
    margin-top: -30px;
    letter-spacing: 10px;
    position: absolute;
}
#copy{
    margin-left: 500px;
    margin-top: 330px;
    font-family: font5;
    font-size: 27px;
    background-color: black;
}